html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    font-family: "Orbitron", serif;
    min-width: 1024px;
    min-height: 768px;
}
#overlay {
    width: 600px;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#invisOverlay {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.2);
}
.classInput {
    width: 200px;
}

#header {
    width: 100%;
    height: 5%;
    background-color: wheat;
    z-index: 0;
}
#header > h1 {
    margin: 0px;
    font-size: 4vh;
    text-align: center;
}

#tabs {
    width: 100%;
    height: 4%;
    background-color: lightseagreen;
    user-select: none;
}
#tabs > input {
    display: inline-block;
    width: 12%;
    margin-left: 0.5%;
    text-align: center;
    font-size: 3vh;
    height: 100%;
    cursor: pointer;
}
div.tab {
    display: inline-block;
    width: 20%;
    margin-left: 0.5%;
    text-align: center;
    font-size: 3.5vh;
    height: 100%;
    cursor: pointer;
}
div.openTab {
    background-color: lightseagreen;
}
div.openTab:hover {
    background-color: mediumpurple;
}
div.selectTab {
    background-color: mediumvioletred;
}

#main {
    height: 91%;
    width: 100%;
    overflow: hidden;
    background-color: ghostwhite;
    position: relative;
}
.subpage {
    height: 100%;
    width: 100%;
    text-align: center;
}
.subpage > h2 {
    font-size: 6vh;
}
#Waves, #Defines {
    overflow-y: scroll;
}


#defs, #metas {
    list-style: none;
    display: block;
}


#xmlTxt {
    width: 95%;
    height: 95%;
}
#saveXml {
   height: 2.5%;
}
li > span {
    font-size: 4vh;
}

ol {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    min-width: 600px;
}
ol > li {
    width: 100%;
    min-width: 100px;
    border: 1px solid white;
}
#waves {
    background-color: beige;
}
.stages {
    background-color: lightblue;
}
